---
http_interactions:
- request:
    method: get
    uri: https://api-cumulus.com/pacientes/AMED123123/pemex
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token 7bdc44b3414fe6922ed9cb237f393427668b0745
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"empresa":"Sin definir","nombre":"Amed Rdz  ","curp":"AMED123123","numeroEmpresa":"123","numeroEmpleado":"124","localidad":"Localidad
        01","codigoDerechoHabiente":"0","derechoHabiente":false}'
  recorded_at: Thu, 14 Jan 2016 19:04:56 GMT
recorded_with: VCR 3.0.1
