---
http_interactions:
- request:
    method: post
    uri: https://api-cumulus.com/pacientes
    body:
      encoding: UTF-8
      string: '{"nombre":"Jhon","apellido":"Doe","curp":"ae424bd116"}'
    headers:
      Authorization:
      - Token dbac7b7bfe68ace99d028618b986fbf4a4b4d474
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":37,"msj":"Paciente creado"}'
  recorded_at: Sun, 27 Dec 2015 22:30:43 GMT
- request:
    method: put
    uri: https://api-cumulus.com/pacientes/ae424bd116
    body:
      encoding: UTF-8
      string: '{"nombre":"Mike","apellido":"Doe","curp":"ae424bd116"}'
    headers:
      Authorization:
      - Token dbac7b7bfe68ace99d028618b986fbf4a4b4d474
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: ACCEPTED
    headers:
      Allow:
      - GET, PUT, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":37,"msj":"Paciente actualizado","url":"http://api-cumulus.herokuapp.com/pacientes/ae424bd116"}'
  recorded_at: Sun, 27 Dec 2015 22:30:43 GMT
recorded_with: VCR 3.0.1
