---
http_interactions:
- request:
    method: post
    uri: https://api-cumulus.com/pemex/empleados
    body:
      encoding: UTF-8
      string: '{"numeroEmpresa":"10","numeroEmpleado":"123"}'
    headers:
      Authorization:
      - Token 7bdc44b3414fe6922ed9cb237f393427668b0745
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - OPTIONS, POST
    body:
      encoding: UTF-8
      string: '[{"empresa":"PEMEX DEMO 1","nombre":"Triana Rocio Cagide","numeroEmpresa":"10","numeroEmpleado":"123","localidad":"Localidad
        03","codigoDerechoHabiente":"6","derechoHabiente":true,"pemex":{"ficha":"123","centro":"110","departamento":"78150","organismo":"PEMEX
        DEMO 1","sexo":"M","edad":"54","nombre":"Triana Rocio Cagide","estatus":"VIGENTE","unidadMedica":"CONSULTORIO
        SALTILLO","regimen":"PC","folio":"1962384","fecha":"2016-1-12","hora":"18:37:54"}},{"empresa":"PEMEX
        DEMO 1","nombre":"Bogdan Stefan Villamiel","numeroEmpresa":"10","numeroEmpleado":"123","localidad":"Localidad
        03","codigoDerechoHabiente":"5","derechoHabiente":true,"pemex":{"ficha":"123","centro":"110","departamento":"78150","organismo":"PEMEX
        DEMO 1","sexo":"H","edad":"56","nombre":"Bogdan Stefan Villamiel","estatus":"VIGENTE","unidadMedica":"CONSULTORIO
        SALTILLO","regimen":"PC","folio":"1962384","fecha":"2016-1-12","hora":"18:37:54"}},{"empresa":"PEMEX
        DEMO 1","nombre":"Kevin Charles Villamiel","numeroEmpresa":"10","numeroEmpleado":"123","localidad":"Localidad
        03","codigoDerechoHabiente":"0","derechoHabiente":true,"pemex":{"ficha":"123","centro":"110","departamento":"78150","organismo":"PEMEX
        DEMO 1","sexo":"H","edad":"33","nombre":"Kevin Charles Villamiel","estatus":"VIGENTE","unidadMedica":"CONSULTORIO
        SALTILLO","regimen":"PC","folio":"1962384","fecha":"2016-1-12","hora":"18:37:54"}}]'
  recorded_at: Tue, 12 Jan 2016 19:06:34 GMT
recorded_with: VCR 3.0.1
