---
http_interactions:
- request:
    method: post
    uri: https://api-cumulus.com/pemex/derecho_habiente
    body:
      encoding: UTF-8
      string: '{"numeroEmpresa":"123","numeroEmpleado":"123","codigoDerechoHabiente":"0"}'
    headers:
      Authorization:
      - Token dbac7b7bfe68ace99d028618b986fbf4a4b4d474
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"derechoHabiente":true,"pemex":{"id":1,"ficha":"135739","centro":"110","departamento":"78150","organismo":"CORPORATIVO","sexo":"M","edad":"64","nombre":"J
        JESUS DANIEL MENDOZA QUINTANA","estatus":"VIGENTE","unidadMedica":"CONSULTORIO
        SALTILLO","regimen":"PC","folio":"1962384","fecha":"2015-12-10","hora":"11:37:00"},"localidad":"Localidad
        01"}'
  recorded_at: Sun, 27 Dec 2015 23:21:13 GMT
recorded_with: VCR 3.0.1
