---
http_interactions:
- request:
    method: post
    uri: https://api-cumulus.com/pacientes
    body:
      encoding: UTF-8
      string: '{"nombre":"Jhon","apellido":"Doe","curp":"b4f719e3b0"}'
    headers:
      Authorization:
      - Token dbac7b7bfe68ace99d028618b986fbf4a4b4d474
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":38,"msj":"Paciente creado"}'
  recorded_at: Sun, 27 Dec 2015 22:30:44 GMT
- request:
    method: get
    uri: https://api-cumulus.com/pacientes/b4f719e3b0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token dbac7b7bfe68ace99d028618b986fbf4a4b4d474
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, PUT, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":38,"owner":null,"nombre":"Jhon","apellido":"Doe","apellidoSegundo":null,"telefono":null,"telefonoAlt":null,"correo":null,"fechaNacimiento":null,"sexo":"NA","curp":"b4f719e3b0","calle":null,"codigoPostal":null,"ciudad":null,"estado":null,"pais":null,"hospitales":[],"alergias":[]}'
  recorded_at: Sun, 27 Dec 2015 22:30:44 GMT
recorded_with: VCR 3.0.1
