---
http_interactions:
- request:
    method: post
    uri: https://api-cumulus.com/pemex/empleados
    body:
      encoding: UTF-8
      string: '{"numeroEmpleado":"123","numeroEmpresa":"123"}'
    headers:
      Authorization:
      - Token 7bdc44b3414fe6922ed9cb237f393427668b0745
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - POST, OPTIONS
    body:
      encoding: UTF-8
      string: '[{"localidad":"Localidad 01","derechoHabiente":true,"pemex":{"fecha":"2016-1-5","sexo":"H","departamento":"78150","centro":"110","nombre":"Mohammed
        Yassine Jarabo","ficha":"123","hora":"21:38:58","folio":"1962384","edad":"77","organismo":"Sin
        definir","estatus":"VIGENTE","unidadMedica":"CONSULTORIO SALTILLO","regimen":"PC"}}]'
  recorded_at: Tue, 05 Jan 2016 21:38:18 GMT
recorded_with: VCR 3.0.1
