---
http_interactions:
- request:
    method: post
    uri: https://api-cumulus.com/pemex/empleados
    body:
      encoding: UTF-8
      string: '{"numeroEmpleado":"123","numeroEmpresa":"123"}'
    headers:
      Authorization:
      - Token 7bdc44b3414fe6922ed9cb237f393427668b0745
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - POST, OPTIONS
    body:
      encoding: UTF-8
      string: '[{"localidad":"Localidad 03","derechoHabiente":true,"pemex":{"ficha":"123","centro":"110","departamento":"78150","organismo":"Sin
        definir","sexo":"H","edad":"77","nombre":"Mohammed Yassine Jarabo","estatus":"VIGENTE","unidadMedica":"CONSULTORIO
        SALTILLO","regimen":"PC","folio":"1962384","fecha":"2016-1-5","hora":"22:29:55"}}]'
  recorded_at: Tue, 05 Jan 2016 22:32:14 GMT
recorded_with: VCR 3.0.1
