---
http_interactions:
- request:
    method: post
    uri: https://api-cumulus.com/pemex/empresa
    body:
      encoding: UTF-8
      string: '{"numeroEmpleado":"123"}'
    headers:
      Authorization:
      - Token dbac7b7bfe68ace99d028618b986fbf4a4b4d474
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"nombre":"J JESUS DANIEL MENDOZA QUINTANA","numeroEmpresa":"123","codigoDerechoHabiente":"0","numeroEmpleado":"123","empresa":"PETROLEOS
        MEXICANOS"},{"nombre":"ROSA MARIA HERNANDEZ LEO LIM","numeroEmpresa":"100","codigoDerechoHabiente":"0","numeroEmpleado":"123","empresa":"PETROLEOS
        MEXICANOS INTERNACIONAL"}]'
  recorded_at: Sun, 27 Dec 2015 23:21:13 GMT
recorded_with: VCR 3.0.1
