---
http_interactions:
- request:
    method: post
    uri: https://api-cumulus.com/pacientes
    body:
      encoding: UTF-8
      string: '{"nombre":"Jhon","apellido":"Doe","curp":"128b75df9c"}'
    headers:
      Authorization:
      - Token dbac7b7bfe68ace99d028618b986fbf4a4b4d474
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":39,"msj":"Paciente creado"}'
  recorded_at: Sun, 27 Dec 2015 22:44:33 GMT
- request:
    method: post
    uri: https://api-cumulus.com/pacientes/128b75df9c/busqueda
    body:
      encoding: UTF-8
      string: '{"query":"foo"}'
    headers:
      Authorization:
      - Token dbac7b7bfe68ace99d028618b986fbf4a4b4d474
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 27 Dec 2015 22:44:34 GMT
recorded_with: VCR 3.0.1
