---
http_interactions:
- request:
    method: post
    uri: https://api-cumulus.com/pacientes/AMED123123/pemex
    body:
      encoding: UTF-8
      string: '{"numeroEmpresa":"123","numeroEmpleado":"124","codigoDerechoHabiente":"0","localidad":"Localidad
        01","derechoHabiente":false}'
    headers:
      Authorization:
      - Token 7bdc44b3414fe6922ed9cb237f393427668b0745
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"msj":"Datos de Pemex Agregados","id":3821,"url":"http://69.16.245.56:8000/pacientes/AMED123123/pemex"}'
  recorded_at: Tue, 12 Jan 2016 19:06:34 GMT
recorded_with: VCR 3.0.1
