---
http_interactions:
- request:
    method: post
    uri: https://api-cumulus.com/pemex/paciente
    body:
      encoding: UTF-8
      string: '{"numeroEmpresa":"10","numeroEmpleado":"123","codigoDerechoHabiente":"0"}'
    headers:
      Authorization:
      - Token 7bdc44b3414fe6922ed9cb237f393427668b0745
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - OPTIONS, POST
    body:
      encoding: UTF-8
      string: '{"id":3278,"owner":null,"nombre":"Kevin Charles","apellido":"Villamiel","apellidoSegundo":null,"telefono":"29726672","telefonoAlt":null,"correo":"kvillamiel@pemex.com","fechaNacimiento":"1983-01-01","sexo":"H","curp":"KEVVIL2VQELYAUMAWO","calle":"Pemex
        #123","codigoPostal":"12345","ciudad":"Pemex","estado":"Pemex","pais":"Mexico","hospitales":[],"alergias":[],"localidad":"Localidad
        03"}'
  recorded_at: Tue, 12 Jan 2016 19:06:34 GMT
recorded_with: VCR 3.0.1
